<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       ">

       <context:component-scan base-package="org.songdan"/>
       <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
       </bean>
       <bean id="handlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
              <property name="taskExecutor" ref="taskExecutor"/>
              <property name="asyncRequestTimeout" value="30000"/>
       </bean>
       <bean id="taskExecutor"
             class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
              <property name="corePoolSize" value="5" />
              <property name="maxPoolSize" value="50" />
              <property name="queueCapacity" value="10" />
              <property name="keepAliveSeconds" value="120" />
       </bean>
</beans>